@import "theme.css";

.masthead {
  height: 100vh;
  min-height: 500px;
  background-image: url("../images/backgroundImage.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.3;
}

body {
  background: #343a40;
}

a {
  color: #061d25;
}

#about {
  padding-top: 10%;
}

.btn-primary {
  padding: 5px;
  background-color: #cc3366 !important;
  border-color: #cc3366;
}

.btn-primary:hover {
  padding: 5px;
  background-color: #af0d43 !important;
  border-color: #cc3366;
}

#info-container {
  padding-bottom: 3%;
}

h2 {
  color: #cc3366;
  padding: 4%;
}

h1 {
  color: #cc3366;
  opacity: 1;
}

h4 :hover {
  color: #cc3366;
}

#map-image {
  padding-left: 20%;
  padding-bottom: 100px;
}

.card-text {
  color: #061d25;
}

.footer {
  background: #343a40;
  padding: 10px 0;
}

.footer a {
  color: #70726f;
  font-size: 20px;
  padding: 10px;
  border-right: 1px solid #70726f;
  transition: all 0.5s ease;
}

.footer a:first-child {
  border-left: 1px solid #70726f;
}

.footer a:hover {
  color: #cc3366;
}
